body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #007BFF;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    font-size: 18px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

address p {
    margin: 5px 0;
}

.entry {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

#contact {
    background-color: #EEE;
}

#education, #experience, #skills {
    margin-top: 20px;
}

#education, #experience {
    display: flex;
    flex-direction: column;
}

#education .entry, #experience .entry {
    margin-bottom: 20px;
}
